<footer class="container py-5" id="linkit4">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li>Cool stuff</li>
        <li>Random feature</li>
        <li>Team feature</li>
        <li>Stuff for developers</li>
        <li>Another one</li>
        <li>Last time</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>Resource</li>
        <li>Resource name</li>
        <li>Another resource</li>
        <li>Final resource</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>Business</li>
        <li>Education</li>
        <li>Government</li>
        <li>Gaming</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li>me</li>
        <li>me2</li>
        <li>me3</li>
        <li>me4</li>
      </ul>
    </div>
  </div>
</footer>
